@import "libs/bootstrap-reboot.min"
@import "libs/fonts"

*
    font-family: 'Poppins', sans-serif

@import "libs/variables"
@import "libs/mixins"

.container
    position: relative
    max-width: 1140px
    margin: 0 auto
